<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.demotestcase.DemoTest">
      <methods>
      <include name="loginTest" /> 
      <include name="createProductTest"/>
      <include name="listProductTest"/>
      <include name="updateProduct"/>
      <include name="deleteTest"/>
      <include name="errorScenario"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
